extends layout

block content
  div(id="chart-line-hitsperday" class="graphic")
  div(class="dates")
    div(id="startDate" onSelect="refresh()") Start date
    div(id="endDate") End date
  div(class="mediaChooser")
    select(id="mediaChooser" multiple="true" class="chosen-select mediaSelect")
  script(type="text/javascript" src="javascripts/app.js")
  button(class="refreshButton" onClick="refresh()") Refresh