doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dc.css')
    script(type="text/javascript" src="javascripts/crossfilter.js")
    script(type="text/javascript" src="javascripts/d3.js")
    script(type="text/javascript" src="javascripts/dc.js")
  body
    block content
